<header>
    <nav class="main-nav container">
        <div class="logo-item">
            <a href="#">
                <h2 class="logo">THE HACKING PROJECT</h2>
            </a>
        </div>
    </nav>
</header>
